*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sens-serif';
}

/* top nab-bar */
nav{
    background-color: #081621;
}
.container{
    width: 1300px;
    margin: auto;
    height: 80px;
    position: relative;
}
.logo{
    position: absolute;
    top: 5px;
    left: 10px;
}
.search{
    position: absolute;
    left: 190px;
    top: 20px;
}
.search-icon{
    position: absolute;
    left: 660px;
    top: 25px;
    font-size: 17px;
    color: #000;
}
.search input{
    width: 500px;
    height: 40px;
    padding-left: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.icons-header{
    position: absolute;
    left: 710px;
    top: 24px;
    font-size: 20px;
}
.icons-header a{
    color: #f58220;
}
.lightning{
    margin-left: 120px;
}
.user{
    margin-left: 150px;
}
.icon-text{
    display: flex;
    position: absolute;
    left: 745px;
    top: 10px;
}
.icon-text a{
    text-decoration: none;
    font-size: 17px;
    color: #fff;
}
.icon-text h4{
    font-weight: 400;
}
.happy{
    margin-left: 90px;
}
.account{
    margin-left: 60px;
}
.icon-text-1{
    display: flex;
    position: absolute;
    left: 745px;
    top: 35px;
}
.icon-text-1 a{
    text-decoration: none;
    color: #6d7a85;
}
.icon-text-1 p{
    font-size: 15px;
    font-weight: 300;
}
.special{
    margin-left: 47px;
}
.register{
    margin-left: 71px;
}
.btn-1{
    position: absolute;
    left: 1200px;
    top: 15px;
}
.btn{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: rgb(36,60,166);
    background: linear-gradient(90deg, rgba(36,60,166,1) 38%, rgba(12,191,232,1) 76%);
    color: #fff;
    transition: 0.5s;
}
.btn:hover{
    background: #fff;
    color: rgb(36,60,166);
    cursor: pointer;
}

/* topbar end */

/* header start */

#section-1{
    background: white;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#section-1 .container-1{
    width: 1300px;
    margin: auto;
    height: 80px;
}
#section-1 .row ul{
    list-style-type: none;
}
#section-1 .row li{
    margin-left: 15px;
    margin-top: 5px;
    display: inline-block;
}
#section-1 .row li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    position: relative;
}
#section-1 .row li a:hover{
    color: #f58220;
}
#section-1 .row li a::after{
    content: '';
    position: absolute;
    width: 0%;
    background: #f58220;
    height: 2px;
    left: 0;
    bottom: 0;
    transition: 0.5s cubic-bezier(.17,.67,.83,.67);
}
#section-1 .row li a:hover::after{
    width: 100%;
}
.sub-menu-desktop{
    position: relative;
    z-index: 100;
}
.sub-menu-child-desktop{
    position: absolute;
    background: white;
    width: 175px;
    padding-bottom: 10px;
    padding-top: 10px;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sub-menu-child-desktop li{
    width: 150px;
}
.sub-menu-child-desktop li a{
    display: block;
    width: 150px;
}
.sub-menu-desktop:hover .sub-menu-child-desktop{
    visibility: visible;
}
#first-arrow{
    margin-left: 80px;
}
#second-arrow{
    margin-left: 57px;
}
#third-arrow{
    margin-left: 60px;
}
#fourth-arrow{
    margin-left: 20px;
}
#fifth-arrow{
    margin-left: 50px;
}
.sub-sub-parent-desktop{
    position: relative;
}
.sub-sub-child-desktop{
    position: absolute;
    background: white;
    left: 152px;
    width: 170px;
    visibility: hidden;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sub-sub-parent-desktop:hover .sub-sub-child-desktop{
    visibility: visible;
}
.sub-sub-child-desktop-1{
    position: absolute;
    background: white;
    left: 154px;
    width: 170px;
    visibility: hidden;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sub-sub-parent-desktop:hover .sub-sub-child-desktop-1{
    visibility: visible;
}
#sixth-arrow{
    margin-left: 65px;
}

.sub-menu-child-desktop-2{
    position: absolute;
    background: white;
    width: 175px;
    right: 0;
    top: 35px;
    padding-bottom: 10px;
    padding-top: 10px;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sub-menu-child-desktop-2 li a{
    display: block;
    width: 150px;
}
.sub-menu-desktop:hover .sub-menu-child-desktop-2{
    visibility: visible;
}

/* body */
.section-2 .container{
    width: 1300px;
    margin: auto;
    position: relative;
}

.big-banner{
    position: absolute;
    top: 25px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.small-banner{
    position: absolute;
    left: 1000px;
    top: 320px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.small-banner img{
    width: 300px;
}
.big-banner img{
    width: 960px;
}
.compare-products{
    background: #ffe8a1;
    position: absolute;
    top: 25px;
    left: 1000px;
    width: 300px;
    height: 260px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.compare-products h1{
    font-size: 15px;
    margin-left: 85px;
    margin-top: 25px;
    font-weight: 500;
}
.compare-products p{
    font-size: 12px;
    margin-left: 60px;
    margin-top: 5px;
}
.search-1{
    border: none;
    outline: none;
    left: 30px;
    width: 240px;
    top: 80px;
    padding-left: 10px;
    border-radius: 5px;
    height: 40px;
    position: absolute;
    color: #75758b;
}
.search-2{
    border: none;
    outline: none;
    left: 30px;
    width: 240px;
    top: 135px;
    padding-left: 10px;
    border-radius: 5px;
    height: 40px;
    position: absolute;
    color: #75758b;

}
.comp-btn{
    position: absolute;
    top: 190px;
    left: 30px;
    width: 240px;
    height: 40px;
    border: 2px solid #3749bb;
    background: transparent;
    color: #3749bb;
    font-weight: 500;
    border-radius: 5px;
    transition: 0.4s cubic-bezier(1,1,1,.86);
    cursor: pointer;
}
.comp-btn:hover{
    background: #3749bb;
    color: #fff;
}
#search-select-ic{
    position: absolute;
    left: 245px;
    top: 87px;
    color: #75758b;
}
#search-select-ic-1{
    position: absolute;
    left: 245px;
    top: 141px;
    color: #75758b;
}

.laptop-finder{
    position: absolute;
    top: 550px;
    left: 0;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 290px;
    height: 75px;
    margin-left: 15px;
}
.logo-laptop{
    position: relative;
    font-size: 20px;
    top: 15px;
    left: 20px;
    background: #ef4a23;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.logo-laptop a{
    text-decoration: none;
    position: absolute;
    color: #fff;
    margin: 12px;
    margin-top: 10px;
}
.laptop-text h1{
    position: absolute;
    left: 90px;
    top: 10px;
    font-weight: 500;
    font-size: 17px;
}
.laptop-text p{
    position: absolute;
    left: 90px;
    top: 35px;
    font-size: 15px;
}
.laptop-text a{
    text-decoration: none;
    color: #000;
}
.laptop-finder-1{
    position: absolute;
    top: 550px;
    left: 330px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 290px;
    border-radius: 5px;
    height: 75px;
}
.logo-laptop-1{
    position: relative;
    font-size: 20px;
    top: 15px;
    left: 20px;
    background: #ef4a23;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.logo-laptop-1 a{
    text-decoration: none;
    position: absolute;
    color: #fff;
    margin: 15.5px;
    margin-top: 10px;
}
.laptop-finder-2{
    position: absolute;
    top: 550px;
    left: 660px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 290px;
    border-radius: 5px;
    height: 75px;
}
.laptop-finder-3{
    position: absolute;
    top: 550px;
    left: 990px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 290px;
    border-radius: 5px;
    height: 75px;
}
.logo-laptop-2{
    position: relative;
    font-size: 20px;
    top: 15px;
    left: 20px;
    background: #ef4a23;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.logo-laptop-3{
    position: relative;
    font-size: 20px;
    top: 15px;
    left: 20px;
    background: #ef4a23;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.logo-laptop-2 a{
    text-decoration: none;
    position: absolute;
    color: #fff;
    margin: 15px;
    margin-top: 10px;
}
.logo-laptop-3 a{
    text-decoration: none;
    position: absolute;
    color: #fff;
    margin: 15px;
    margin-top: 10px;
}
.announcement{
    position: relative;
    top: 700px;
    background: #f2f4f8;
    width: 1300px;
    height: 40px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;
}
.announcement p{
    animation: 25s slide infinite linear;
    position: absolute;
    left: 0;
    top: 9px;
    font-weight: 400;
    color: black;
    overflow: none;
}

@keyframes slide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.featured-category{
    position: relative;
    top: 800px;
}
.featured-category h1{
    margin: 0 520px;
    position: absolute;
}
.featured-category p{
    margin: 40px 440px;
    position: absolute;
}


