*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sens-serif';
}

/* top nab-bar */
nav{
    background-color: #081621;
}
.container{
    width: 1300px;
    margin: auto;
    height: 80px;
    position: relative;
}
.logo{
    position: absolute;
    top: 5px;
    left: 10px;
}
.search{
    position: absolute;
    left: 190px;
    top: 20px;
}
.search-icon{
    position: absolute;
    left: 660px;
    top: 25px;
    font-size: 17px;
    color: #000;
}
.search input{
    width: 500px;
    height: 40px;
    padding-left: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.icons-header{
    position: absolute;
    left: 710px;
    top: 24px;
    font-size: 20px;
}
.icons-header a{
    color: #f58220;
}
.lightning{
    margin-left: 120px;
}
.user{
    margin-left: 150px;
}
.icon-text{
    display: flex;
    position: absolute;
    left: 745px;
    top: 10px;
}
.icon-text a{
    text-decoration: none;
    font-size: 17px;
    color: #fff;
}
.icon-text h4{
    font-weight: 400;
}
.happy{
    margin-left: 90px;
}
.account{
    margin-left: 60px;
}
.icon-text-1{
    display: flex;
    position: absolute;
    left: 745px;
    top: 39px;
}
.icon-text-1 a{
    text-decoration: none;
    color: #6d7a85;
}
.icon-text-1 p{
    font-size: 15px;
    font-weight: 300;
}
.special{
    margin-left: 47px;
}
.register{
    margin-left: 71px;
}
.btn-1{
    position: absolute;
    left: 1200px;
    top: 15px;
}
.btn{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: rgb(36,60,166);
    background: linear-gradient(90deg, rgba(36,60,166,1) 38%, rgba(12,191,232,1) 76%);
    color: #fff;
    transition: 0.5s;
}
.btn:hover{
    background: #fff;
    color: rgb(36,60,166);
    cursor: pointer;
}

/* topbar end */

/* header start */

section{
    background: white;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section .container-1{
    width: 1300px;
    margin: auto;
    height: 80px;
}
section .row ul{
    list-style-type: none;
}
section .row li{
    margin-left: 15px;
    margin-top: 5px;
    display: inline-block;
}
section .row li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    position: relative;
}
section .row li a:hover{
    color: #f58220;
}
section .row li a::after{
    content: '';
    position: absolute;
    width: 0%;
    background: #f58220;
    height: 2px;
    left: 0;
    bottom: 0;
    transition: 0.5s cubic-bezier(.17,.67,.83,.67);
}
section .row li a:hover::after{
    width: 100%;
}
.sub-menu-desktop{
    position: relative;
}
.sub-menu-child-desktop{
    position: absolute;
    background: white;
    width: 175px;
    height: 220px;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sub-menu-child-desktop li{
    width: 150px;
}
.sub-menu-child-desktop li a{
    display: block;
    width: 150px;
}
.sub-menu-desktop:hover .sub-menu-child-desktop{
    visibility: visible;
}
#first-arrow{
    margin-left: 80px;
}
#second-arrow{
    margin-left: 57px;
}
.sub-sub-parent-desktop{
    position: relative;
}
.sub-sub-child-desktop{
    position: absolute;
    background: white;
    left: 152px;
    width: 170px;
    visibility: hidden;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sub-sub-parent-desktop:hover .sub-sub-child-desktop{
    visibility: visible;
}
.sub-sub-child-desktop-1{
    position: absolute;
    background: white;
    left: 152px;
    width: 170px;
    visibility: hidden;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sub-sub-parent-desktop:hover .sub-sub-child-desktop-1{
    visibility: visible;
}